.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-container-logo-container > span {
    color: rgb(6, 114, 223);
    font-size: 3rem;
    font-weight: 500;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header-container-subheader-container {
    margin-top: -10px;
}

.header-container-subheader-container > span {
    font-size: small;
    cursor: default;
}
