.header {
    text-align: center;
    color: dodgerblue;
    font-size: x-large;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
}

.subHeader {
    text-align: center;
    font-size: small;
    display: block;
    margin-top: -8px;
}
