.modal-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 43vh 1fr;
    grid-template-rows: 1fr 43vh 1fr;
    grid-template-areas:
        'empty-top empty-top empty-top'
        'empty-side-left modal empty-side-right'
        'empty-bottom empty-bottom empty-bottom';
}

.empty-top {
    grid-area: empty-top;
    background-color: rgba(220, 220, 220, 0.7);
}

.empty-side-left {
    grid-area: empty-side-left;
    background-color: rgba(220, 220, 220, 0.7);
}

.empty-side-right {
    grid-area: empty-side-right;
    background-color: rgba(220, 220, 220, 0.7);
}

.empty-bottom {
    grid-area: empty-bottom;
    background-color: rgba(220, 220, 220, 0.7);
}

.modal {
    grid-area: modal;
    background-color: rgb(255, 255, 255);
    /* border: 1px solid red; */
    /*box-shadow: 3px 3px 1px black;*/
}
