.page-cell-container {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #d3e0ea;
}

.page-cell-header-block {
    flex: 0 0 auto;
}

.page-cell-content-block {
    flex: 1;
    overflow-y: scroll;
}
