.profile-link-container {
    position: absolute;
    right: 5vw;
    top: 1.25rem;
    padding: 0.5vh 1vw;
    color: dodgerblue;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
}

.profile-link-container:hover {
    background-color: rgba(128, 128, 128, 0.3);
}

.profile-link-container:active {
    color: purple;
}

.profile-link-name-container {
    max-width: 15vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
