.styled-input {
    background: transparent !important;
    padding: 20px 0px 10px;
    width: 15rem;
    margin: 20px 0px;
    border: 0px;
    font-size: 1rem;
    border-bottom: 1.5px solid black;
    color: black !important;
    appearance: unset;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 550;
}

.styled-input::placeholder {
    color: rgb(82, 82, 82);
    font-weight: 400;
}

.styled-input:focus {
    background: transparent !important;
    outline: none;
}

.styled-input:active {
    background: transparent !important;
}
.styled-input:-webkit-autofill {
    -webkit-background-clip: text !important;
}
