.events-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 1vw;
}

@media only screen and (max-width: 542px) {
    .events-tabs-container .tab {
        padding: 12px 4px;
    }

    .events-tabs-container .tab-container {
        justify-content: space-between;
    }
}

.events-content-container {
    flex: 1;
    overflow-y: scroll;
}
