/*
    Extension: Can I make the tenants span re-size when a line breaks? This would help with spacing
    when I want to center the text, although it only really matters for long words.
*/

.apartment-summary-cell-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.apartment-summary-cell-info {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    min-width: 1%;
}

.apartment-summary-cell-info > h3 {
    margin: 0px;
    margin-bottom: 0.5rem;
    padding-bottom: 2px;
    text-transform: uppercase;
    box-sizing: border-box;
}
