.requests-cell-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.requests-cell-description-container {
    padding: 1vh 2vw;
}

.requests-cell-description-incoming-centered-container {
    text-align: center;
}

.requests-cell-error-container {
    text-align: center;
}

.requests-cell-content-incoming-container {
    flex: 1;
    overflow-y: scroll;
    margin: 1rem auto;
}

.requests-cell-content-outgoing-container {
    flex: 1;
    overflow-y: scroll;
}
