.apartment-cell-container {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    flex-direction: row-reverse;
    align-items: center;
    padding: 1rem;
}

.apartment-cell-main-container {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    min-width: 1%;
}

.apartment-cell-main-container i {
    cursor: pointer;
}

.apartment-cell-main-container * {
    text-align: left;
}

.apartment-cell-main-container .apartment-summary-cell-info > h3:hover {
    text-decoration: underline;
    cursor: pointer;
}

.apartment-cell-leave-button-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 1vw;
    margin-left: 1rem;
}

.apartment-cell-leave-button-container > * {
    background-color: rgb(52, 189, 155);
    color: white;
}

.apartment-cell-leave-button-container > *:active {
    color: rgb(52, 189, 155);
}
