.join-cell-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: fit-content;
    height: 10rem;
    padding: 0 1vw;
}

.join-cell-container > *:nth-child(1) i {
    font-size: 4rem;
}
