.join-apartment-cell-container {
    display: flex;
    flex-direction: column;
}

.join-apartment-cell-text {
    padding: 2vh 2vw 0;
    text-align: center;
}

.join-apartment-cell-search {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 5vh;
    grid-template-areas:
        '. input button'
        'message message message';
}

.join-apartment-cell-search > *:nth-child(1) {
    grid-area: input;
    color: rgb(0, 113, 226) !important;
    font-size: 7vw;
    text-align: center;
    margin: 0px;
    width: 100%;
}

.join-apartment-cell-search > *:nth-child(2) {
    grid-area: button;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1rem;
}

.join-apartment-cell-search > *:nth-child(3) {
    grid-area: message;
    display: flex;
    justify-content: center;
    align-items: center;
}

.join-apartment-cell-join-cell-container {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-top: 6vh;
    align-items: flex-start;
}

.join-apartment-cell-error {
    position: absolute;
    bottom: 9vh;
    text-align: center;
    left: 0;
    right: 0;
}
