.profile-cell-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.profile-cell-apartment-container {
    flex: 0 auto;
    margin-top: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-cell-tenants-container {
    margin-top: 2vh;
    flex: 1;
}
