.static-apartment-profile-modal-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 5vh 1fr 5vh;
    grid-template-columns: 5vw 1fr 5vw;
    grid-template-areas:
        'empty-top empty-top empty-top'
        'empty-left content empty-right'
        'empty-bottom empty-bottom empty-bottom';
}

.static-apartment-profile-modal-empty-top {
    grid-area: empty-top;
}

.static-apartment-profile-modal-empty-left {
    grid-area: empty-left;
}

.static-apartment-profile-modal-empty-right {
    grid-area: empty-right;
}

.static-apartment-profile-modal-empty-bottom {
    grid-area: empty-bottom;
}

.static-apartment-profile-modal-empty-top,
.static-apartment-profile-modal-empty-right,
.static-apartment-profile-modal-empty-bottom,
.static-apartment-profile-modal-empty-left {
    background-color: rgba(220, 220, 220, 0.7);
}

.static-apartment-profile-modal-content-container {
    grid-area: content;
    overflow-y: scroll;
    max-width: 100%;
    overflow-wrap: break-word;
    background-color: rgb(226, 183, 190);
}

.static-apartment-profile-modal-apartment-container {
    margin-top: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 2.5rem;
    box-sizing: border-box;
}

.static-apartment-profile-modal-apartment-container .apartment-profile-cell-body-container {
    width: 100%;
}

.static-apartment-profile-modal-tenants-container {
    margin-top: 2vh;
    flex: 1;
}

.static-apartment-profile-modal-icon-close-container {
    position: absolute;
    top: 7vh;
    right: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.static-apartment-profile-modal-icon-close-container i {
    font-size: 2rem;
    color: rgb(49, 47, 47);
}
