.tenant-profile-modification-cell-container {
    position: relative;
}

.tenant-profile-modification-cell-error-container {
    position: absolute;
    bottom: 2.5rem;
    width: 25rem;
    text-align: center;
}

.tenant-profile-modification-cell-icon-container {
    position: absolute;
    top: 1rem;
    right: 5rem;
}

.tenant-profile-modification-cell-icon-container i {
    font-size: 1.5rem;
}
