.add-contact-cell-container {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
    box-sizing: border-box;
}

.add-contact-cell-container input {
    flex: 0;
}

.add-contact-cell-buttons-container {
    flex: 1;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.add-contact-cell-error-container {
    margin-top: 0.5rem;
}
