.contact-cell-container {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
}

.contact-cell-container:first-child {
    border-top: 1px solid black;
}

.contact-cell-initials-container {
    /* background-color: green; */
}

.contact-cell-content-container {
    flex: 1;
    /* height: 100%; */
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow-wrap: break-word;
    word-wrap: break-word;
    min-width: 1%;
    /* background-color: red; */
}

.contact-cell-content-container span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
}

.contact-cell-name-container {
    font-weight: bold;
}

.contact-cell-number-container {
    margin-top: 1rem;
}

.contact-cell-email-container {
    margin-top: 1rem;
}

.contact-cell-delete-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}

.contact-cell-delete-button-container button {
    background-color: rgb(52, 189, 155);
}

.contact-cell-delete-button-container button:active {
    color: rgb(52, 189, 155);
}

/* MODAL STYLES */
.contact-cell-modal-container button {
    font-size: 1.5rem;
}

.contact-cell-modal-container span {
    font-size: 1.5rem;
}

/* INITIALS STYLES */

.contact-cell-initials-circle {
    border-radius: 50%;
    border: 2px solid black;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-cell-initials-content {
    font-size: 2rem;
    color: rgb(6, 114, 223);
}
